.map-container {
    position: relative; 
    width: 100%;
    max-width: 700px; 
    margin: 20% auto; 
    transform: scale(2);
}

.flats-available-overlay {
    position: absolute; 
    top: 40%;
    left: 50%; 
    transform: translate(-50%, -50%); 
    text-align: center; 
    z-index: 2; 
    color: black;
    background-color: lightgray;
    border-radius: 10px;
}
