body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.static-map-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
}




