svg path {
    stroke-width: 2;
    transition: stroke 0.3s ease-in-out;
}

svg path:hover {
    stroke: #000000;
    stroke-width: 3;
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px rgb(0, 0, 0));
}

#SG-01 { fill: #1E90FF; } /* Central Singapore */
#SG-02 { fill: #32CD32; } /* North East */
#SG-03 { fill: #FF6347; } /* North West*/
#SG-04 { fill: #FFD700; } /* South East*/
#SG-05 { fill: #FF69B4; } /* South West*/
